# Ignore everything by default
*

# Allow source code
!*.py
!*.js
!*.html
!*.css

# Allow configs and docs
!*.json
!*.md
!*.txt
!requirements.txt
!package.json
!package-lock.json
!yarn.lock

# Allow .gitignore itself
!/.gitignore

# Allow source folders
!src/
!public/

# Allow dataset folder
!hiragana/
!hiragana/*/
!hiragana/*/*.json

!templates/
!templates/*.html

!参考文献/
!参考文献/*.pdf

!generated_samples/
!generated_samples/*.png
!generated_samples/*.json

!sentences/
!sentences/*.json

!processed_json/
!processed_json/*.json

!modelCodes/
!modelCodes/*.py

!outputs/
!outputs/*.json
!outputs/*.png

!normalized_sentences/
!normalized_sentences/*.json

!checkModels/
!checkModels/*.py

!*.pth

!checkModel/
!checkModel/*.py

!checkpoints/
!checkpoints/*.pt

!copied_sentences/
!copied_sentences/*.json

!dxdy_normalized_sentences/
!dxdy_normalized_sentences/*.json
!dxdy_normalized_sentences/*.py

!sequence_sentences/
!sequence_sentences/*.json
!sequence_sentences/*.py

# 4dim

!sentences-4dim/
!sentences-4dim/*.json
!sentences-4dim/changed_name/
!sentences-4dim/changed_name/*.py
!sentences-4dim/changed_name/*.json
!sentences-4dim/normalized_xy/
!sentences-4dim/normalized_xy/*.py
!sentences-4dim/normalized_xy/*.json
!sentences-4dim/dxdy/
!sentences-4dim/dxdy/*.py
!sentences-4dim/dxdy/*.json
!sentences-4dim/models/
!sentences-4dim/models/*.py
!sentences-4dim/oneletters/
!sentences-4dim/oneletters/*.py
!sentences-4dim/oneletters/*.json
!sentences-4dim/oneletters/normalized_xy/
!sentences-4dim/oneletters/normalized_xy/*.py
!sentences-4dim/oneletters/normalized_xy/*.json
!sentences-4dim/oneletters/dxdy/
!sentences-4dim/oneletters/dxdy/*.py
!sentences-4dim/oneletters/dxdy/*.json
!sentences-4dim/oneletters/models/
!sentences-4dim/oneletters/models/*.py
!sentences-4dim/oneletters/models/*.pth
!sentences-4dim/oneletters/models/*.json
!sentences-4dim/oneletters/changed_name/
!sentences-4dim/oneletters/changed_name/*.py
!sentences-4dim/oneletters/changed_name/*.json
!sentences-4dim/oneletters/norm_padding/
!sentences-4dim/oneletters/norm_padding/*.py
!sentences-4dim/oneletters/norm_padding/*.json
!sentences-4dim/oneletters/checkpoints/
!sentences-4dim/oneletters/checkpoints/*.pt
!sentences-4dim/oneletters/resampling/
!sentences-4dim/oneletters/resampling/*.py
!sentences-4dim/oneletters/resampling/*.json
!sentences-4dim/oneletters/generated_strokes/
!sentences-4dim/oneletters/generated_strokes/927/
!sentences-4dim/oneletters/generated_strokes/927/*.png
!sentences-4dim/oneletters/generated_strokes/*.png

